<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CDN-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>Plane Crash</title>
  </head>
  <body>
    <div class="container">
      <h1 class="display-3 pt-5 text-center">
        Plane Crash Information Database
      </h1>
    </div>
    <hr />
    <div class="container p-5 m-5">
      <form onsubmit="createNewCrash()">
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-date form-control" id="date" />
        </div>
        <div class="mb-3">
          <label for="time" class="form-label">Time</label>
          <input
            type="text"
            class="form-text form-control"
            id="time"
            placeholder="HH:MM"
          />
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input
            type="text"
            class="form-text form-control"
            id="city"
            placeholder="City"
          />
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            class="form-text form-control"
            id="country"
            placeholder="Country"
          />
        </div>

        <div class="mb-3">
          <label for="operator" class="form-label">Operator</label>
          <input
            type="text"
            class="form-text form-control"
            id="operator"
            placeholder="Operator"
          />
        </div>
        <div class="mb-3">
          <label for="flightNo" class="form-label">Flight Number</label>
          <input
            type="text"
            class="form-text form-control"
            id="flightNo"
            placeholder="Flight Number"
          />
        </div>
        <div class="mb-3">
          <label for="route" class="form-label">Route</label>
          <input
            type="text"
            class="form-text form-control"
            id="route"
            placeholder="Route"
          />
        </div>
        <div class="mb-3">
          <label for="aircraftType" class="form-label">Aircraft Type</label>
          <input
            type="text"
            class="form-text form-control"
            id="aircraftType"
            placeholder="Aircraft Type"
          />
        </div>
        <div class="mb-3">
          <label for="registration" class="form-label"
            >Registration Number</label
          >
          <input
            type="text"
            class="form-text form-control"
            id="registration"
            placeholder="Registration Number"
          />
        </div>
        <div class="mb-3">
          <label for="cnIn" class="form-label">CnIn</label>
          <input
            type="text"
            class="form-text form-control"
            id="cnIn"
            placeholder="CnIn"
          />
        </div>
        <div class="mb-3">
          <label for="aboard" class="form-label">Passengers Aboard</label>
          <input
            type="text"
            class="form-text form-control"
            id="aboard"
            placeholder="Aboard"
          />
        </div>
        <div class="mb-3">
          <label for="fatalities" class="form-label">Fatalities</label>
          <input
            type="text"
            class="form-text form-control"
            id="fatalities"
            placeholder="Fatalities"
          />
        </div>
        <div class="mb-3">
          <label for="ground" class="form-label">Ground</label>
          <input
            type="text"
            class="form-text form-control"
            id="ground"
            placeholder="Ground"
          />
        </div>
        <div class="mb-3">
          <label for="summary" class="form-label">Summary</label>
          <textarea
            type="text"
            class="form-text form-control"
            id="summary"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </body>
  <!--Custom Javascript-->
  <script src="/JS/new_crash.js"></script>
</html>
